.deadend-main{
    background-color: black;
    height: 100vh;
    padding-top: 150px;
}

/* @media screen and (max-width: 600px) {
    padding
} */

.deadend-img{
    width: 50%;
}


.goback-btn{
    margin-top: 3%;
}

